version: "2"
services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    environment:
      - POSTGRES_PASSWORD=DEBUG
      - POSTGRES_USER=DEBUG
      - POSTGRES_DB=ci
